.row.spacer.scrollblock
  .logo.six.columns.centered
    %h1#title
      Comme ci, Comme ça
    %h4.subheader
      Beat your tweeps in this trivia game and #rockonwithyournerdself
.row
  .three.columns.centered
    %a.button.radius{:href => "/users/auth/twitter"} Login with Twitter
-#.row.spacer.scrollblock
  .six.columns.centered
    %h1
      How to play...