-#.row.spacer.scrollblock
  .logo.six.columns.centered
    %h1#title
      =t :app_name
    -#%h4.subheader
      Beat your tweeps in this trivia game and #rockonwithyournerdself
.row.spacer
  .six.columns.centered
    .row
      .six.columns.offset-by-six
        %p.subheader.current_user
          =current_user.name
          |
          = link_to('Logout', destroy_user_session_path, :method => :delete)
.row
  .six.columns.centered
    .row
      .twelve.columns
        %h4.subheader
          1. Choose an opponent
    .row
      .twelve.columns
        .row.collapse
          .twelve.columns.centered
            %a.button Random
        .row.spacer
          .twelve.columns.centered
            %br
            or
            %br
            %br
        .row.collapse.spacer
          .two.mobile-one.columns
            %span.prefix @
          .eight.mobile-two.columns
            %input{:type => "text"}
          .two.mobile-one.columns
            %a.button.expand.postfix Search
    .row
      .twelve.columns
        %h4.subheader
          2. Fight!
    -#%dl.tabs.contained
      %dt
        = link_to('Logout', destroy_user_session_path, :method => :delete)
      -#%dd
        %a{:href => "#tweeps"} Tweeps
      %dd.active
        %a{:href => "#challenge"} Challenge
    -#%ul.tabs-content.contained
      -#%li#tweepsTab
        .row
          %p.subheader
            =t :app_name
            is more fun with your
            = @followers_count
            tweeps. Invite some...
        .row
          .six.columns.centered
            %a.button.radius.invite Invite
      %li#challengeTab.active
        .row
          .twelve.columns
            %p.subheader
              1. Choose an opponent
        .row
          .twelve.columns
            .row.collapse
              .twelve.columns.centered
                %a.button Random
            .row.collapse
              .twelve.columns.centered
                or
            .row.collapse
              .two.mobile-one.columns
                %span.prefix @
              .eight.mobile-two.columns
                %input{:type => "text"}
              .two.mobile-one.columns
                %a.button.expand.postfix Search
        .row
          .twelve.columns
            %p.subheader
              2. Fight!
